.hero-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-content {
  flex: 1;
}

.hero-content h2 {
  font-size: 3rem;
}

.hero-content p {
  width: 60%;
  opacity: 1;
  font-size: 1.5rem;
}

.hero-img img {
  align-items: center;
  gap: 2rem;
  border-radius: 10rem;
  height: 600px;
  opacity: 1;
}

/* .hero-container::after,
.hero-container::before {
  content: "";
  width: 25rem;
  border-radius: 25rem;
  background: blueviolet;
  position: absolute;
  z-index: -1;
} */
/* @media (max-width: 1025px) {
  .hero-container {
    display: inline;
    margin: auto;
  }

  .hero-content {
    width: 100%;
    justify-content: center;
  }
  .hero-content h2 {
    font-size: 2rem;
    line-height: 4rem;
    width: 100%;
  }

  .hero-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .hero-img > div > img {
    width: 20rem;
  }
} */

@media (max-width: 900px) {
  .hero-container {
    display: inline;
    margin: auto;
  }
  .hero-content {
    width: 100%;
  }

  .hero-content h2 {
    flex-direction: column;
  }

  .hero-container h2 {
    margin-top: 3rem;
  }

  .hero-img {
    display: flex;
    justify-content: center;
  }

  .hero-content h2,
  .hero-content p {
    width: auto;
    text-align: center;
  }

  .hero-container::after,
  .hero-container::before {
    content: "";
    width: 18rem;
    height: 18rem;
  }

  .hero-container::after {
    top: 0rem;
    left: 0rem;
  }

  .hero-container::before {
    bottom: 2rem;
    right: 0rem;
  }
}
